/******************************************************************************
 ** Board configuration: Enable spi0 configuration.
 ******************************************************************************/

/******************************************************************************
 ** Board configuration: Enable PCIe board configuration.
 ** PCIE sub-system feature configuration, the pcie0/1 are defined in Soc level
 ******************************************************************************/
&pcie0 {
	intel,rst-interval = <200>;
	intel,inbound-swap = <1>;
	intel,outbound-swap = <0>;
	reset-gpio = <&ssogpio 18 0>;
	num-lanes = <2>;
};

&pcie1 {
	intel,rst-interval = <200>;
	intel,inbound-swap = <1>;
	intel,outbound-swap = <0>;
	reset-gpio = <&ssogpio 13 0>;
	num-lanes = <1>;
};

/******************************************************************************
 ** Board configuration: Enable Shift register LED board configuration.
 ******************************************************************************/
&ssogpio {
	status = "ok";
};

&ssoled {
	status = "ok";

	/* led definition */
	intel,sso-def-brightness = <0x80>;
	intel,sso-def-blinkrate = <4>; /* HZ*/
	 /* blink rate list: 2, 4, 8, 10, 50K, 100K, 200K, 250K, 1000K */
	led4: led4 {
		label = "led4:green:sw";
		led-gpio = <&ssogpio 4 0>;
		intel,led-pin = <4>;
		intel,sso-hw-blink;
	};

	led5: led5 {
		label = "led5:green:sw";
		led-gpio = <&ssogpio 5 0>;
		intel,led-pin = <5>;
		intel,sso-hw-blink;
	};

	led6: led6 {
		label = "led6:green:sw";
		led-gpio = <&ssogpio 6 0>;
		intel,led-pin = <6>;
		intel,sso-hw-blink;
	};

	led7: led7 {
		label = "led7:green:sw";
		led-gpio = <&ssogpio 7 0>;
		intel,led-pin = <7>;
		intel,sso-hw-blink;
	};
};

/******************************************************************************
 ** Board configuration: Enable CoC power management board feature
 ******************************************************************************/
&i2c0 {
	status = "ok";

	/* power monitor */
	ina219@41 {
		compatible = "ti,ina219";
		reg = <0x41>;
		shunt-resistor = <10000>;
		rail-name = "PWR_12V";
	};

	ina219@42 {
		compatible = "ti,ina219";
		reg = <0x42>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3";
	};

	ina219@43 {
		compatible = "ti,ina219";
		reg = <0x43>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V2_1V35";
	};

	ina219@45 {
		compatible = "ti,ina219";
		reg = <0x45>;
		shunt-resistor = <10000>;
		rail-name = "PWR_0V9";
	};

	ina219@46 {
		compatible = "ti,ina219";
		reg = <0x46>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V8";
	};

	ina219@47 {
		compatible = "ti,ina219";
		reg = <0x47>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V5";
	};

	ina219@48 {
		compatible = "ti,ina219";
		reg = <0x48>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V1";
	};

	ina219@49 {
		compatible = "ti,ina219";
		reg = <0x49>;
		shunt-resistor = <10000>;
		rail-name = "PWR_1V8_3V3";
	};

	ina219@4a {
		compatible = "ti,ina219";
		reg = <0x4a>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID0";
	};

	ina219@4b {
		compatible = "ti,ina219";
		reg = <0x4b>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_SFP";
	};

	ina219@4c {
		compatible = "ti,ina219";
		reg = <0x4c>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_TID1";
	};

	ina219@4d {
		compatible = "ti,ina219";
		reg = <0x4d>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_SHR";
	};

	ina219@4e {
		compatible = "ti,ina219";
		reg = <0x4e>;
		shunt-resistor = <10000>;
		rail-name = "PWR_3V3_WAN";
	};

	ina219@4f {
		compatible = "ti,ina219";
		reg = <0x4f>;
		shunt-resistor = <10000>;
		rail-name = "PWR_2V5";
	};

	/* EEPROM of the optical WAN transceiver */
	eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
	eeprom@51 {
		compatible = "at,24c02";
		reg = <0x51>;
	};
};

/******************************************************************************
 ** Board configuration: Enable SSC1 to support standard SPI devices (SPI Flash)
 ******************************************************************************/
/*
&ssc1 {
		status="ok";
		mt29f@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				reg = <0 1>;
				compatible = "spinand,mt29f";
				linux,modalias = "mt29f";
				spi-max-frequency = <1000000>;

				partition@0 {
					label = "uboot";
					reg = <0x000000 0x100000>;
				};

				partition@100000 {
					label = "data";
					reg = <0x100000 0x1000000>;
				};

				partition@1100000 {
					label = "res";
					reg = <0x1100000 0x6E00000>;
				};
			};
};
*/
/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
&eth {
	status = "ok";

	lan0: interface@0 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0>;
		intel,dp-dev-port = <3>;
		intel,dp-port-id = <3>;
		intel,xgmac-id = <1>;

		ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
		};
	};

	lan1: interface@1 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;
		intel,dp-dev-port = <4>;
		intel,dp-port-id = <4>;
		intel,xgmac-id = <2>;

		ethernet@1 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
		};
	};

	wan: interface@5 {
		compatible = "lantiq,xrx500-pdi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <5>;
		lantiq,wan = <1>;
		intel,dp-dev-port = <2>;
		intel,dp-port-id = <2>;
		intel,xgmac-id = <0>;

		ethernet@5 {
			compatible = "lantiq,xrx500-pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
		};
	};
};

/* This is needed to improve qspi stability on the board */
&pinctrl_qspi {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

/* SPI pins changed in PRX EVA board (shared with qspi) */
&pinctrl_spi0 {
	intel,pins =	<4>, /* SPI0_CLK */
			<3>, /* SPI0_TX */
			<2>; /* SPI0_RX */
};

&pinctrl_spi0_cs {
	intel,pins =  <5>; /* SPI0_CS */
};

&ssc0 {
	ltq-spinand@1 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <1>;
		compatible = "lantiq,spinand";
		linux,mtd-name = "nand.0";
		spi-max-frequency = <15384615>;

		/* Basic fallback partition layout. Real partition should be
		 * defined in kernel boot parameters by uboot.
		 */
		partition@0 {
			reg = <0x0 0x40000>;
			label = "uboot";
			read-only;
		};

		partition@40000 {
			reg = <0x40000 0x80000>;
			label = "uboot_env";
		};

		partition@C0000 {
			reg = <0xC0000 0x740000>;
			label = "image0";
		};

		partition@800000 {
			reg = <0x800000 0x800000>;
			label = "image1";
		};
	};

	mx25l12835f@1 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <1>;
		spi-max-frequency = <15384615>;

		/* Basic fallback partition layout. Real partition should be
		 * defined in kernel boot parameters by uboot.
		 */
		partition@0 {
			reg = <0x0 0x40000>;
			label = "uboot";
			read-only;
		};

		partition@40000 {
			reg = <0x40000 0x80000>;
			label = "uboot_env";
		};

		partition@C0000 {
			reg = <0xC0000 0x740000>;
			label = "image0";
		};

		partition@800000 {
			reg = <0x800000 0x800000>;
			label = "image1";
		};
	};
};

&qspi0 {
	ltq-spinand@0 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "lantiq,spinand";
		reg = <0 1>;
		linux,mtd-name = "nand.0";
		spi-max-frequency = <50000000>;
		page-size = <2048>;
		block-size = <17>; // 2^17, 128KB
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		/* Read-delay is needed for higher freq.
		 * 4 ref_clk is chosen as value that works well upto 50MHz.
		 */
		read-delay = <4>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;

		/* Basic fallback partition layout. Real partition should be
		 * defined in kernel boot parameters by uboot.
		 */
		partition@0 {
			reg = <0x0 0x40000>;
			label = "uboot";
			read-only;
		};

		partition@40000 {
			reg = <0x40000 0x80000>;
			label = "uboot_env";
		};

		partition@C0000 {
			reg = <0xC0000 0x740000>;
			label = "image0";
		};

		partition@800000 {
			reg = <0x800000 0x800000>;
			label = "image1";
		};
	};

	mx25l12835f@0 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0 1>;
		page-size = <256>;
		block-size = <16>; // 2^16, 64KB
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		/* Read-delay is needed for higher freq.
		 * 4 ref_clk is chosen as value that works well upto 50MHz.
		 */
		read-delay = <4>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;

		/* Basic fallback partition layout. Real partition should be
		 * defined in kernel boot parameters by uboot.
		 */
		partition@0 {
			reg = <0x0 0x40000>;
			label = "uboot";
			read-only;
		};

		partition@40000 {
			reg = <0x40000 0x80000>;
			label = "uboot_env";
		};

		partition@C0000 {
			reg = <0xC0000 0x740000>;
			label = "image0";
		};

		partition@800000 {
			reg = <0x800000 0x800000>;
			label = "image1";
		};
	};
};

&wan_xpcs {
    status = "ok";
    xpcs-conntype = "SFP"; /* SFP or PHY */
};

&lan_xpcs0 {
    status = "ok";
    xpcs-conntype = "SFP"; /* SFP or PHY */
};

&lan_xpcs1 {
    status = "ok";
    xpcs-conntype = "SFP"; /* SFP or PHY */
};

